In the following code I used SQL skills to perform various operations on the "startups" table. I counted the number of companies in the table and found the sum of the "valuation" column to know the total value of all companies. I also used the "MAX()" function to find the highest amount raised by a startup and the maximum amount raised during the "Seed" stage. I used the "MIN()" function to find the year in which the oldest company was founded.

I also used "SUM" and "AVG" aggregate functions in combination with "GROUP BY" clause to perform data analysis and generate meaningful insights into the trends and patterns in the data. I employed the "HAVING" clause to filter groups based on aggregate calculations, such as selecting only the categories with an average valuation greater than a certain threshold. I utilized "SUBQUERY" to extract data from a nested query and used "WITH" clause to create and use temporary views to simplify complex queries.

## Setup

In [1]:
import pandas as pd

In [2]:
import sqlite3

In [3]:
df = pd.read_csv("startups.csv")

In [4]:
cnn = sqlite3.connect('jupyter_sql.db')

In [7]:
df.to_sql('startups',cnn, if_exists='replace')

In [8]:
%load_ext sql

In [9]:
%sql sqlite:///jupyter_sql.db

In [10]:
%%sql 

select * from startups

 * sqlite:///jupyter_sql.db
Done.

[(0, 'Pied Piper', 'Silicon Valley', 'Cloud Computing', 6.0, 5000000.0, 50000000.0, 2014, 'A', 'Richard Hendricks', 'A Middle-Out Compression Solution'),
 (1, 'Hooli', 'Silicon Valley', 'Enterprise', 9000.0, 580000000.0, 49500000000.0, 1997, None, 'Gavin Bensen', 'Hooli Is About People'),
 (2, 'Raviga Capital', 'Silicon Valley', 'Venture Capital', 12.0, 300000000.0, 3000000000.0, 2012, None, 'Peter Gregory', 'Share Only In Success'),
 (3, 'Aviato', 'Silicon Valley', 'Travel', 3.0, 250000.0, 2500000.0, 2006, 'Acquired', 'Erlich Bachman', 'Software Aggregation Program'),
 (4, 'SEE FOOD', 'Silicon Valley', 'Mobile', 2.0, None, 15000000.0, 2016, 'Acquired', 'Jian-Yang', 'The Shazam of Food'),
 (5, 'Forbid', 'New York', 'Mobile', 25.0, 1400000.0, 5000000.0, 2013, 'Acquired', 'Charlie Dattolo', 'Charge Users $10 for Calling Their Ex'),
 (6, 'Soulstice', 'New York', 'Fitness', 300.0, 30000000.0, 120000000.0, 2014, 'B', None, 'What are your goals today?'),
 (7, 'E-Corp', 'New York', 'Enterprise', 10000.0, None, 66000000000.0, 2006, None, 'Phillip Price', 'Together We Can Change the Wolrd'),
 (8, 'Allsafe Cybersecurity', 'New York', 'Security', 250.0, 123000000.0, 1000000000.0, 2014, None, 'Gideon Goddard', None),
 (9, 'fsociety', 'Brooklyn', 'Games', 5.0, None, None, 2015, 'Stealth', 'Elliot Alderson', 'Fun Society Arcade'),
 (10, 'Summit Ice', 'Los Angeles', 'Fashion', 2.0, 50000.0, 800000.0, 2015, 'Seed', 'Nathan Fielder', 'Raising Awareness of the Holocaust'),
 (11, 'The Movement', 'Los Angeles', 'Fitness', 3.0, 15000.0, None, 2015, 'Seed', 'Nathan Fielder', 'No Gym. No Weights. Just Results.'),
 (12, 'WUPHF!', 'Scranton', 'Social', 6.0, 25000.0, 10000.0, 2010, 'Seed', 'Ryan Howard', 'Cross-Portal Messaging System'),
 (13, 'Fakeblock', 'Irvine', 'Mobile', 2.0, 3.0, None, 2013, 'Seed', 'George Michael', "OC's Most Popular Digital Wood Instrument"),
 (14, 'Magic Heap', 'Fort Lauderdale', 'Augmented Reality', 500.0, 1800000000.0, 8000000000.0, 2013, 'D', 'Johnny Malkovich', '�\\_(?)_/�'),
 (15, 'HoloGrail', 'San Francisco', 'Technology', 30.0, 51000000.0, 1800000000.0, 2016, 'B', 'Daniel Li', 'Volumetric Display'),
 (16, 'Voice2Txt', 'San Francisco', 'Mobile', 16.0, 1800000.0, 15000000.0, 2012, 'Seed', 'Cole Romano', 'Transcribes Voicemails to Texts'),
 (17, 'V-Arrr', 'San Francisco', 'Virtual Reality', 6.0, 750000.0, 2500000.0, 2015, 'Seed', 'Cole Romano', 'Pirate-Themed VR App'),
 (18, 'REBU', 'San Francisco', 'Logistics', 15000.0, 11500000000.0, 70000000.0, 2009, 'G', 'Kravis Talanick', 'Ridesharing Platform'),
 (19, 'Rave New World', 'San Francisco', 'Social', 8.0, 250000.0, 6000000.0, 2014, None, 'Sam Guss', 'Social Media for the EDM Community'),
 (20, 'WaterCnC', 'San Francisco', 'Travel', 4000.0, 4400000000.0, 25000000000.0, 2008, 'F', 'Crian Besky', 'Water Sharing Platform for Cooks and Chefs'),
 (21, 'RankerBot', 'San Francisco', 'Algorithms', 5.0, 1500000.0, 7600000.0, 2013, 'Acquired', 'Delaney', 'Water Sharing Platform for Cooks and Chefs'),
 (22, 'Xandesk', 'San Francisco', 'Customer Service', 100.0, 75500000.0, 640000000.0, 2012, 'IPO', 'Ronald Paris', 'Keep Frowning'),
 (23, 'Everyotherday.me', 'San Francisco', 'Mobile', 35.0, None, None, 2012, 'Seed', 'Jeremy Lin', 'Journal that Captures the Special Moments'),
 (24, 'Frontsby', 'San Francisco', None, None, None, None, 2013, 'Seed', 'Olivia Plath', None),
 (25, '2Smart2Host', 'Brooklyn', 'Data Analytics', 4.0, 380000.0, None, 2014, 'Acquired', 'Evan Nails', 'Dynamic Pricing for Vacation Rentals'),
 (26, 'StarsNGripes', 'Boulder', 'Social', 3.0, 2000000.0, 560000000.0, 2015, 'A', 'Gregory Hilt', 'Yelp for US Landmarks and Tourist Attractions'),
 (27, 'SoCorny', 'Omaha', 'Technology', 65.0, 25000000.0, 2000000000.0, 2013, 'B', 'Elon Husk', 'Analytics Platform for Corn Production'),
 (28, 'VeVork', 'New York', 'Real Estate', 200.0, 750000000.0, 20000000000.0, 2010, 'G', 'Mada Nammneu', 'Co-relaxing Space for Vampires'),
 (29, 'Brrr', 'New York', 'Gambling', 10.0, 5000000.0, 322000000.0, 2012, 'A', 'Solo', 'eSports Betting'),
 (30, 'BackPax', 'New York', 'Education', 2.0, 80000.0, 14000000.0, 2017, 'Seed', 'Jose Ferreira', 'MOOCs are Boo Hoo'),
 (31, 'CapitalPunishment', 'New York', 'Mobile', 15.0, 500000.0, 10000000.0, 2008, 'A', 'Cole Romano', 'Stock Market Brawler Game'),
 (32, 'Son of a Fletch', 'New York', 'Social', 4.0, 300000.0, 3000000.0, 2014, 'Seed', 'CC Vaught', 'Social Media App for Archery Enthusiasts'),
 (33, 'Yas Queen', 'New York', 'Health Care', 300.0, 45000000.0, 980000000.0, 2015, 'A', 'Jamie Brieman', 'Accelerating Breast Cancer Research'),
 (34, 'Geocities-Lite', 'New York', 'Social', 20.0, 1000000.0, 50000000.0, 2012, 'A', 'Jim Jason', 'Mobile Friendly Geocities'),
 (35, 'Cluster.ly', 'New York', 'Big Data Analytics', 10.0, 750000.0, 15000000.0, 2015, 'B', 'Hillary Limegreen', None),
 (36, 'Codefellas', 'New York', 'Education', 50.0, 50000000.0, 10000000000.0, 2012, 'A', 'Zane Sims', 'The Not So Easy Way to Learn to Code'),
 (37, 'kryptoPark', 'Palo Alto', 'Security', 70.0, 75000000.0, 10000000000.0, 2011, 'B', 'Joe Wang', 'Password Mgmt for Password Mgmt Services'),
 (38, 'zZz', 'Palo Alto', 'SaaS', 20.0, 50000000.0, 800000000.0, 2008, 'C', 'Henry Campbell', 'Dream Tracking/Recording'),
 (39, 'Pita Pan', 'Palo Alto', 'Technology', 40.0, 30000000.0, 5500000000.0, 2015, 'B', 'Schuylar Croom', 'Drone Food Delivery Service'),
 (40, 'nova.ai', 'Palo Alto', 'Enterprise', 340.0, 3000000.0, 25000000.0, 2013, 'A', 'Nick Kinsella', None),
 (41, 'XNA', 'Palo Alto', 'Health Care', 250.0, 540000000.0, 760000000000.0, 2012, 'C', 'Owen Pilsner', 'Genome Database'),
 (42, 'Cloud Nine', 'Palo Alto', 'Cloud Computing', 35.0, 36000000.0, 140000000.0, 2013, 'A', 'Jase Farmer', None),
 (43, 'Scramptons', 'Long Island', 'Security', 5.0, 200000.0, 8000000000.0, 2017, 'Seed', 'Henri Bernard', 'Home Security'),
 (44, 'Carcheesian Plane', 'Paris', 'Education', 30.0, 3000000.0, 50000000.0, 2012, 'A', 'Jim Mussen', 'A Gouda Place to Learn Math'),
 (45, 'Dungees and Dragos', 'Atlanta', 'Games', 3.0, 300000.0, 1600000.0, 2014, 'Seed', 'Stuart Stickler', 'Tabletop Gaming for the Insufferable'),
 (46, 'VaporWear', 'Virginia Beach', 'Social', 15.0, 450000.0, 14000000.0, 2017, 'Seed', 'TJ Harris', 'Social Network for Vaping Enthusiasts'),
 (47, 'RICE Media', 'Brooklyn', 'Video Streaming', 3000.0, 730000000.0, None, 1994, None, 'Shayna Craftsman', '2cool4school'),
 (48, 'Townie666', 'Brooklyn', None, 2.0, 20000.0, 80000.0, 2017, 'Seed', 'Sonny Li', '*_*'),
 (49, 'Kimberly', 'Brooklyn', None, 2.0, 100000.0, 8500000.0, 2018, 'Seed', 'Jillian Kuzmin', 'Synthetic Diamonds'),
 (50, 'Wakeful', 'Brooklyn', 'Virtual Reality', 3.0, 30000.0, 1800000.0, 2016, 'Seed', 'Maria Epstein', 'Meditation VR App'),
 (51, 'MLGB', 'Columbus', 'E-commerce', 2.0, 50000.0, 500000.0, 2012, 'Seed', 'Xin Xin', "Authentic Streetwear or DDoS'ed"),
 (52, 'PostGurt', 'Savannah', 'Social', 6.0, 550000.0, 200000000.0, 2013, 'Seed', 'Lauretta Brieman', 'Subscription Based Yogurt in the Mail'),
 (53, 'Virtual Tour', 'Chicago', 'E-commerce', 12.0, 750000.0, 120000000.0, 2014, 'Seed', "Ari L'Boy", 'Real Estate for Fake People'),
 (54, 'E�rendil', 'Los Angeles', 'Mobile', 2.0, 50000.0, 200000.0, 2009, 'Seed', 'Kent Bergensen', 'Flashlight App'),
 (55, 'QT', 'Los Angeles', 'Social', 3.0, 1500000.0, 4500000.0, 2018, 'Seed', 'Keiko', 'Who Can Be More Kawaii (???????)?'),
 (56, 'LiftHub', 'Los Angeles', 'Fitness', 30.0, 2350000.0, 15000000.0, 2015, 'A', 'Mike McManus', 'Eat Clean. Train Dirty.'),
 (57, 'Napflix', 'Los Angeles', 'Mobile', 1.0, None, None, 2016, 'Stealth', 'Reed Samson', 'Bootleg Netflix Shows'),
 (58, 'CyShare', 'Seattle', 'Social', 11.0, 300000.0, 10000000.0, 2015, 'B', 'Cathy Zhou', 'Bicycle Sharing Service'),
 (59, 'FizzyWillow', 'Seattle', 'Social', 6.0, 2000000.0, 120000000.0, 2014, 'C', 'Sandra Emmerson', 'Sparkling Wine Review App'),
 (60, 'Q Green', 'Seattle', 'Nanotechnology', 12.0, 3600000.0, 150000000.0, 2013, 'A', 'Quan Li', None),
 (61, 'Friend, Where Is My Vehicle', 'Washington DC', 'SaaS', 8.0, 1800000.0, 2000000.0, 2016, 'A', 'Roland Tavurner', 'GPS Services'),
 (62, 'Allniter', 'New Delhi', 'Education', 250.0, 1000000.0, 15000000.0, 2009, 'A', 'Rohan Taneja', 'Homework/Essay Help'),
 (63, 'Gnome Reverser', 'Denver', 'Mobile', 10.0, 1500000.0, 10000000.0, 2014, 'A', 'Bruce Dzeda', 'Location Service to Find Your Keys/Wallet'),
 (64, 'ScoopAble', 'Denver', 'Social', 14.0, 1000000.0, 7600000.0, 2016, 'Seed', 'Zoe Gfell', 'Yogurt Finder'),
 (65, 'YoBert', 'New York', 'Education', 31.0, 800000.0, 40000000.0, 2016, 'Acquired', 'Ernie Dzeda', 'Seasme Street Themed Educational App'),
 (66, 'Trufflez', 'New York', 'Mobile', 23.0, 1000000.0, 12000000.0, 2014, 'Seed', None, 'AI Suggests Recipes Based on Photos'),
 (67, 'Unfade', 'New York', 'Fashion', 4.0, 400000.0, 5600000.0, 2016, 'A', 'Peggy Grimes', 'Everything Hair'),
 (68, 'OrangeYouLonely', 'Minneapolis', 'Social', 20.0, 1200000.0, 14000000.0, 2012, 'Seed', 'Gus Dawson', 'Dating App for Farmers'),
 (69, 'WellDeserved', 'San Francisco', 'E-commerce', 4.0, None, None, 2015, 'Seed', 'Kasima Tharnpipitchai', 'The Premiere Marketplace for Privilege')]

# Starting the code

### Calculate the total number of companies in the table.

In [11]:
%%sql
select count(*) as 'Number_of_companies'
from startups 
where name is not null;

 * sqlite:///jupyter_sql.db
Done.

[(70,)]

### We want to know the total value of all companies in this table. Calculate this by getting the SUM() of the valuation column.

In [12]:
%%sql
select sum(valuation) as 'total_value_of_companies'
from startups;

 * sqlite:///jupyter_sql.db
Done.

[(974455790000.0,)]

### What is the highest amount raised by a startup? Return the maximum amount of money raised.

In [13]:
%%sql
select max(raised) as "maximun_amount_raised"
from startups;

 * sqlite:///jupyter_sql.db
Done.

[(11500000000.0,)]

### Edit the query so that it returns the maximum amount of money raised, during ‘Seed’ stage.

In [14]:
%%sql
select max(raised) as "maximun_amount_raised"
from startups
where stage = "Seed";

 * sqlite:///jupyter_sql.db
Done.

[(1800000.0,)]

### In what year was the oldest company on the list founded?

In [15]:
%%sql
select min(founded)
from startups;

 * sqlite:///jupyter_sql.db
Done.

[(1994,)]

## Let's find out the valuations among different sectors:

### Return the average valuation in each category.

In [16]:
%%sql
select category, avg(valuation)
from startups
group by 1;

 * sqlite:///jupyter_sql.db
Done.

[(None, 4290000.0),
 ('Algorithms', 7600000.0),
 ('Augmented Reality', 8000000000.0),
 ('Big Data Analytics', 15000000.0),
 ('Cloud Computing', 95000000.0),
 ('Customer Service', 640000000.0),
 ('Data Analytics', None),
 ('E-commerce', 60250000.0),
 ('Education', 2023800000.0),
 ('Enterprise', 38508333333.333336),
 ('Fashion', 3200000.0),
 ('Fitness', 67500000.0),
 ('Gambling', 322000000.0),
 ('Games', 1600000.0),
 ('Health Care', 380490000000.0),
 ('Logistics', 70000000.0),
 ('Mobile', 9600000.0),
 ('Nanotechnology', 150000000.0),
 ('Real Estate', 20000000000.0),
 ('SaaS', 401000000.0),
 ('Security', 6333333333.333333),
 ('Social', 82425833.33333333),
 ('Technology', 3100000000.0),
 ('Travel', 12501250000.0),
 ('Venture Capital', 3000000000.0),
 ('Video Streaming', None),
 ('Virtual Reality', 2150000.0)]

### Return the average valuation, in each category. Round the averages to two decimal places.

In [17]:
%%sql
select category, round(avg(valuation),2)
from startups
group by 1;

 * sqlite:///jupyter_sql.db
Done.

[(None, 4290000.0),
 ('Algorithms', 7600000.0),
 ('Augmented Reality', 8000000000.0),
 ('Big Data Analytics', 15000000.0),
 ('Cloud Computing', 95000000.0),
 ('Customer Service', 640000000.0),
 ('Data Analytics', None),
 ('E-commerce', 60250000.0),
 ('Education', 2023800000.0),
 ('Enterprise', 38508333333.33),
 ('Fashion', 3200000.0),
 ('Fitness', 67500000.0),
 ('Gambling', 322000000.0),
 ('Games', 1600000.0),
 ('Health Care', 380490000000.0),
 ('Logistics', 70000000.0),
 ('Mobile', 9600000.0),
 ('Nanotechnology', 150000000.0),
 ('Real Estate', 20000000000.0),
 ('SaaS', 401000000.0),
 ('Security', 6333333333.33),
 ('Social', 82425833.33),
 ('Technology', 3100000000.0),
 ('Travel', 12501250000.0),
 ('Venture Capital', 3000000000.0),
 ('Video Streaming', None),
 ('Virtual Reality', 2150000.0)]

### Return the average valuation, in each category. Round the averages to two decimal places. Lastly, order the list from highest averages to lowest.

In [18]:
%%sql
select category, round(avg(valuation),2) as 'valuation'
from startups
group by 1
order by 2 desc;

 * sqlite:///jupyter_sql.db
Done.

[('Health Care', 380490000000.0),
 ('Enterprise', 38508333333.33),
 ('Real Estate', 20000000000.0),
 ('Travel', 12501250000.0),
 ('Augmented Reality', 8000000000.0),
 ('Security', 6333333333.33),
 ('Technology', 3100000000.0),
 ('Venture Capital', 3000000000.0),
 ('Education', 2023800000.0),
 ('Customer Service', 640000000.0),
 ('SaaS', 401000000.0),
 ('Gambling', 322000000.0),
 ('Nanotechnology', 150000000.0),
 ('Cloud Computing', 95000000.0),
 ('Social', 82425833.33),
 ('Logistics', 70000000.0),
 ('Fitness', 67500000.0),
 ('E-commerce', 60250000.0),
 ('Big Data Analytics', 15000000.0),
 ('Mobile', 9600000.0),
 ('Algorithms', 7600000.0),
 (None, 4290000.0),
 ('Fashion', 3200000.0),
 ('Virtual Reality', 2150000.0),
 ('Games', 1600000.0),
 ('Video Streaming', None),
 ('Data Analytics', None)]

## What are the most competitive markets?

### First, return the name of each category with the total number of companies that belong to it.

In [19]:
%%sql
select category, count(*) as 'number of companies'
from startups
group by 1
order by 2 desc;

 * sqlite:///jupyter_sql.db
Done.

[('Social', 12),
 ('Mobile', 10),
 ('Education', 5),
 ('Technology', 3),
 ('Security', 3),
 ('Fitness', 3),
 ('Enterprise', 3),
 ('E-commerce', 3),
 (None, 3),
 ('Virtual Reality', 2),
 ('Travel', 2),
 ('SaaS', 2),
 ('Health Care', 2),
 ('Games', 2),
 ('Fashion', 2),
 ('Cloud Computing', 2),
 ('Video Streaming', 1),
 ('Venture Capital', 1),
 ('Real Estate', 1),
 ('Nanotechnology', 1),
 ('Logistics', 1),
 ('Gambling', 1),
 ('Data Analytics', 1),
 ('Customer Service', 1),
 ('Big Data Analytics', 1),
 ('Augmented Reality', 1),
 ('Algorithms', 1)]

### Next, filter the result to only include categories that have more than three companies in them. What are the most competitive markets?

In [20]:
%%sql
select category, count(*) as 'number of companies'
from startups
group by 1
having count(*) >= 3
order by 2 desc;

 * sqlite:///jupyter_sql.db
Done.

[('Social', 12),
 ('Mobile', 10),
 ('Education', 5),
 ('Technology', 3),
 ('Security', 3),
 ('Fitness', 3),
 ('Enterprise', 3),
 ('E-commerce', 3),
 (None, 3)]

In [21]:
The most competitive markets are Social, Mobile, Education, Technology, Security, Fitness, Enterprise, E-commerce, and None.

SyntaxError: invalid syntax (<ipython-input-21-efe7604c20e4>, line 1)

## Let's see if there's a difference in startups sizes among different locations:

### What is the average size of a startup in each location?

In [22]:
%%sql
select location, avg(employees) as 'startup size'
from startups 
group by 1
order by avg(employees) desc;

 * sqlite:///jupyter_sql.db
Done.

[('San Francisco', 1920.4),
 ('Silicon Valley', 1804.6),
 ('New York', 702.75),
 ('Brooklyn', 502.6666666666667),
 ('Fort Lauderdale', 500.0),
 ('New Delhi', 250.0),
 ('Palo Alto', 125.83333333333333),
 ('Omaha', 65.0),
 ('Paris', 30.0),
 ('Minneapolis', 20.0),
 ('Virginia Beach', 15.0),
 ('Denver', 12.0),
 ('Chicago', 12.0),
 ('Seattle', 9.666666666666666),
 ('Washington DC', 8.0),
 ('Los Angeles', 6.833333333333333),
 ('Scranton', 6.0),
 ('Savannah', 6.0),
 ('Long Island', 5.0),
 ('Boulder', 3.0),
 ('Atlanta', 3.0),
 ('Irvine', 2.0),
 ('Columbus', 2.0)]

It is seems like there is a big difference

### What is the average size of a startup in each location, with average sizes above 500?

In [23]:
%%sql
select location, avg(employees) as 'startup size'
from startups 
group by 1
having avg(employees) > 500 
order by avg(employees) desc;

 * sqlite:///jupyter_sql.db
Done.

[('San Francisco', 1920.4),
 ('Silicon Valley', 1804.6),
 ('New York', 702.75),
 ('Brooklyn', 502.6666666666667)]